.slide-thumbnail {
  width: 250px;
  height: 140px;
  padding: 1rem 1rem;
  display: flex;
  user-select: none;

  .counter {
    margin-right: 0.5rem;
  }

  .block-inside {
    width: 80%;
    border: 3px solid orange;
    border-radius: 6px;
    background-color: white;

    .quiz-set-placeholder {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $color-gray-light;
    }

    .title {
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: baseline;
      font-weight: bold;
      text-align: start;
      text-overflow: ellipsis;
    }
    .bord {
      width: 100%;
      height: 1px;
      background: $color-gray-medium;
    }
  }
}

.slide-thumbnail-inactive {
  opacity: 0.3;
}
