#slide-interactive-editor {
  box-sizing: border-box;
  resize: horizontal;
  overflow: auto;
  min-width: 700px;
  min-height: 560px;
  overflow: hidden;
  // width: calc(100vw - #{$slide-list-width} - #{$entities-width});
  // height: calc(100vh - #{$header-height});

  h2 {
    position: relative;
    top: 10%;
    font-size: 3.6rem;
    text-align: center;
  }

  .single-block {
    z-index: 0;
    background-color: bisque;
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
  }
}
