#quiz-placeholder-p {
  width: auto;
  height: auto;
  min-width: $interactive-editor-width;
  min-height: $interactive-editor-height;
}

.i-editor-wrapper {
  padding: 12px;
  background-color: $color-gray-light;
  flex-grow: 2;

  #slide-interactive-editor {
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    overflow: auto;
    padding: 0;
    width: $interactive-editor-width;
    min-width: $interactive-editor-width;
    height: $interactive-editor-height;
    min-height: $interactive-editor-height;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    // width: calc(100vw - #{$slide-list-width} - #{$entities-width});
    // height: calc(100vh - #{$header-height});

    .slide-title {
      color: $color-midnight;
      font-family: "Source Sans Pro", Helvetica, sans-serif;
      font-size: 60px;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.2;
      position: absolute;
      left: 0;
      right: 0;
      top: 58px;
      text-align: center;
      text-shadow: none;
      max-width: 580px;
      word-wrap: break-word;
      margin: 0 auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    strong,
    pre,
    a {
      font-family: "Source Sans Pro", Helvetica, sans-serif;
    }

    .single-block {
      z-index: 0;
      background-size: contain;
      object-fit: cover;
      background-repeat: no-repeat;
    }
  }
}
