.rhap_container {
  width: 60%;
  min-width: 290px;

  .rhap_stacked {
    flex-direction: row-reverse;

    .rhap_controls-section {
      margin-top: 0;
      margin-right: 14px;
      max-width: 40px;
    }
  }
}
