.entity-cell {
  height: 42px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px dashed transparent;
  transition: 0.2s ease-in-out;
  padding-right: 10px;

  &:hover {
    border: 1px dashed $color-indigo;
  }

  .cell-selectable {
    height: 42px;
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-right: 16px;
    margin-top: -2px;
  }

  .cell-label {
    color: $color-midnight;
    flex-grow: 2;
    margin-right: 1rem;
  }
}

.entity-cell-selected {
  background-color: $color-indigo-light;
}
