.entity-cell {
  display: flex;
  align-items: center;
  height: 42px;
  cursor: grab;

  .cell-selectable {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 4px;
  }

  .entity-label {
    margin-left: 0.8rem;
    white-space: nowrap;
    color: $color-gray-high;
  }
}
