.quiz-edit-form {
  padding-bottom: 2rem;

  .single-choice {
    display: flex;
    align-items: center;

    .separator {
      width: 0.5rem;
    }
  }

  .note-select-in-blanks {
    font-size: 0.7rem;
    color: $color-aqua-highlighted;
    margin-bottom: 14px;
  }
}
