$rib-size: 180px;

#fork-github-ribbon {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: $rib-size;
  overflow: hidden;
  height: $rib-size;
  z-index: 2;

  div {
    white-space: nowrap;
    background: $color-black-primary;
    color: $color-white;
    font-family: arial, sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 5px 40px;
    position: absolute;
    position: relative;
    right: -38px;
    text-align: center;
    text-decoration: none;
    top: 40px;
    transform: rotate(45deg);
    transition: 0.5s;
    width: $rib-size;

    &::before {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      height: 1px;
      background: $color-white;
    }

    &::after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      height: 1px;
      background: #fff;
    }
  }
}

.quiz-layout {
  background-color: white;

  .irasutoya {
    max-width: 140px;
    margin-top: 1.2rem;
  }

  .quiz-layout-inner {
    padding: 10px;
    padding-top: 26px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .quiz-layout-choices {
    padding-bottom: 4rem;
    .naiyou {
      margin-top: 2.6rem;
      width: 75%;

      .title {
        margin-bottom: 3.2rem;
      }

      .selections {
        transform: scale(1.6);

        .inner {
          display: flex;
          align-items: center;

          .ticker {
            margin-right: 1rem;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .quiz-layout-select-in-blanks {
    .sentence {
      margin-top: 2rem;
      font-size: 1.17rem;
      line-height: 2.2em;
      padding: 0 10px;
    }
  }
}
