.quiz-layout {
  background-color: white;

  .quiz-layout-single-choice {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .naiyou {
      margin-top: 3rem;
      width: 75%;

      .title {
        margin-bottom: 3.2rem;
      }

      .selections {
        transform: scale(1.6);
      }
    }
  }
}
