#slide-interactive-editor {
  box-sizing: border-box;
  background: beige;
  resize: horizontal;
  overflow: auto;
  min-width: 900px;
  min-height: 560px;
  overflow: hidden;
  width: calc(100vw - #{$slide-list-width});
  height: calc(100vh - #{$header-height});
}
