$column-width: 240px;

.quiz-builder {
  position: relative;
  height: 100%;

  .main-quiz-builder {
    display: flex;
    height: calc(100vh - 258px);

    .quiz-edit-column {
      width: $column-width;
      padding: 0 1rem;
      padding-top: 1rem;
      border-left: 1px solid $color-gray-light;

      hr {
        border-top: 1px solid $color-gray-light;
      }
    }

    .quiz-detail-edit {
      .media-item {
        padding: 8px;
        border: 1px solid transparent;
        transition: 0.2s linear all;

        strong {
          margin-left: 8px;
        }

        &:hover {
          cursor: pointer;
          border: 1px solid $color-orange;
          background-color: $color-gold-light;
        }
      }

      .ant-select {
        width: 100%;
      }
    }
  }
}
