$handle-size: 4px;
$animation-anchor-size: 24px;

.c-handle {
  transform: scale(0.5);
  background: $color-blue-primary;
  border: 1px solid $color-gray-medium;
}

.single-block {
  position: relative;
}

.animation-anchor {
  width: $animation-anchor-size;
  height: $animation-anchor-size;
  left: 50%;
  top: -10px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  background: white;
  border: 1px dashed $color-aqua-highlighted;
  cursor: pointer;
  z-index: 4;
}

.imageblock-holder {
  width: 100%;
  height: 100%;
  position: relative;
}

.text-block {
  padding: 10px;
  line-height: 1.4;
  letter-spacing: normal;
  margin-bottom: 0;

  rt {
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
    color: $color-midnight;
  }

  h1 {
    font-size: 42px;
    font-weight: 400;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 22px;
  }
}

.interactive-text-block {
  position: relative;
  background-color: white;
  border: 1px dashed $color-cyan-light;

  .drag-handle {
    width: 24px;
    height: 24px;
    padding: 10px;
    border: 1px dashed wheat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .separated-block {
    color: green;
  }
}

.interactive-text-block-selected {
  border: 1px dashed $color-aqua-highlighted;
}

.interactive-callout {
  position: absolute;
  top: 0;

  .callout-inside {
    border-radius: 6px;
    position: relative;
    height: 100%;
  }
}
