.quiz-list-lead {
  font-weight: bold;
  user-select: none;
  height: 32px;
}

.quiz-list-item {
  display: flex;
  height: 46px;
  align-items: center;

  .question {
    min-width: 188px;
  }

  .score {
    min-width: 60px;
  }

  .result {
    min-width: 40px;
  }
}
