.animation-entity {
  margin: 8px 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-left: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s linear all;

  .separator {
    width: 12px;
  }
}

.animation-entity-selected {
  background-color: $color-cyan-light;
  border: 1px solid $color-cyan-high;
}
