$slide-height: 120px;

.side-holder {
  height: calc(100vh - #{$slide-height});
  width: 100px;
  position: relative;
}

.slide-entities {
  height: calc(100vh - #{$slide-height});
  width: 270px;
  transform: translateX(140px);
  right: 0;
  overflow-x: hidden;
  outline: none;
  position: fixed;
  transition: 0.2s ease-in-out all;

  .expand-btn {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    border: 1px dashed $color-gray-medium;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 12px;
    width: 40px;
    z-index: 2;
    cursor: pointer;
  }

  .slide-entities-expandable {
    padding-top: 32px;
    padding-left: 28px;
    padding-right: 20px;
    position: absolute;
    left: 18px;
    top: 0;
    z-index: 1;
    min-height: 100%;
    background-color: white;
    overflow-y: auto;
    box-shadow: $light-left-shadow;

    .slide-title-input {
      width: 184px;
      max-width: 184px;
    }

    .entity-cell {
      display: flex;
      align-items: center;
      height: 42px;
      cursor: grab;

      .cell-selectable {
        display: flex;
        align-items: center;
        margin-left: 18px;
        margin-top: 4px;
      }

      .entity-label {
        margin-left: 0.8rem;
        white-space: nowrap;
        color: $color-gray-high;
      }
    }
  }
}

.slide-entities-expanded {
  overflow-y: scroll;
  transform: translateX(0px);
  transition: 0.2s ease-in-out all;
}
