$slide-height: 120px;

.slide-entities {
  padding-top: 32px;
  padding-left: 28px;
  padding-right: 20px;
  height: calc(100vh - #{$header-height}) !important;
  width: 300px;
  background-color: white;
  overflow-y: auto;
  @include shadow-left-light;

  .slide-title-input {
    width: 100%;
    max-width: 100%;
  }

  .column1 {
    margin-bottom: 12px;
  }

  .column2 {
    background-color: white;
    width: 100%;
  }
}
