$color-black-primary: #131416;
$color-black-header: #1b1d21;
$color-black-secondary: #24252a;
$color-black-transparent: #0000009e;

$color-midnight: #0c344b;

$color-red: #d7244c;
$color-light-red: #f56c6c;
$color-barbie-pink: #eb2f96;
$color-orange: #ffb81c;
$color-gold-light: #fff1b8;
$color-gold-ultralight: #fffcee;

$color-blue-light: #06a4df;
$color-blue-primary: #1873bf;

$color-green: #52c41a;

$color-aqua: #19bea0;
$color-aqua-highlighted: #09a085;
$color-cyan-high: #13c2c2;
$color-cyan-light: #e6fffb;

$color-white: #fff;
$color-gray-high: #25262b;
$color-gray-light: #f0f0f0;
$color-gray-medium: #c4c4c4;
$color-gray-semihigh: #1c1f23;
$color-tungsten: #343434;

$color-indigo: #6366f1;
$color-indigo-light: #d4d4ff;
