$color-black-primary: #131416;
$color-black-header: #1b1d21;
$color-black-secondary: #24252a;
$color-black-transparent: #0000009e;

$color-red: #d7244c;
$color-orange: #ffb81c;
$color-gold-light: #fff1b8;

$color-blue-light: #06A4DF;
$color-blue-primary: #1873bf;

$color-aqua: #19bea0;
$color-aqua-highlighted: #09a085;

$color-white: #fff;
$color-gray-light: #f0f0f0;
$color-gray-medium: #c4c4c4;
$color-gray-semihigh: #1c1f23;
$color-gray-high: #25262b;
