@import "../fonts/source-sans-pro.css";

// Size metric vars
$slide-list-width: 240px;
$entities-width: 106px;
$header-height: 120px;

// Interactive Editor sizes
$interactive-editor-width: 740px;
$interactive-editor-height: 555px;

// Quiz Player
$qp-head-height: 46px;
$qp-footer-height: 54px;

// TODO: Maybe not the best place to put this.
.custom-modal {
  .ant-modal-body {
    .ant-modal-confirm-body {
      .ant-modal-confirm-content {
        margin-left: unset;
      }
    }
  }
}
