// Size metric vars
$slide-list-width: 260px;
$entities-width: 106px;
$header-height: 120px;

// Shadow vars
$light-left-shadow: -3px 0px 5px 0px rgba(184, 184, 184, 0.2);

// Interactive Editor sizes
$interactive-editor-width: 740px;
$interactive-editor-height: 540px;

// Quiz Player
$qp-head-height: 46px;
$qp-footer-height: 54px;
