.theme-chooser-btn {
  margin: 10px 18px;
  width: 84%;
}

#slide-list {
  width: $slide-list-width;
  min-width: $slide-list-width;
  height: calc(100vh - 120px);
  overflow-x: hidden;
  overflow-y: scroll;
  outline: none;
  border-right: 1px solid $color-gray-light;
}
